@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 1300;
    background-image: repeating-linear-gradient(90deg, rgb(240, 240, 240), rgb(240, 240, 240) 20px, #ffffff 10px, #ffffff 80px); 
}

.titulos{
    text-align: center;
    font-size: 40px;
}

.logos{
    height: 250px;
    display: grid;
    grid-template-columns: 20% 20% 20% ;
    grid-gap: 35px;
    margin: 20px auto;
    grid-template-areas: 
        "logos logos logos logos" ;
    background-color:rgb(225, 235, 225);
    
}
 

.escudoasura{
    display: flex;
    width: 280px;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 80px;
}
     
.argentinalogo{
    width: 450px;
    display: flex;
}
 
.bandera{
     width: 230px;
     height: 150px;
     display: flex;
     justify-content: center;
     margin-top: 60px;
     margin-left: 180px;
}
 


.menu{
   
    
    color: rgb(252, 252, 252);
    display:flex;
    justify-content: space-between;
}


.navbarmenu{
    display: flex;
    justify-content: space-between;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 10px;
    margin-left: 18px;

}

.nav-item:hover{
    background: rgb(44, 240, 70);
	color: rgb(26, 109, 15)

}
.carousel slide {
    display:flex;   
    
}
.carousel-inner{
    width: 50px;
    height: 150px;
    padding-bottom: 40px;
    margin: 5px auto;
}



.contenido{
    display: flex;
    position:static;
    height: 550px;
    border-radius: 10px; 
   
    
}
.contenido::before{
    content: " ";
    width: 60px;
    position: absolute;
    background: linear-gradient(#0fb9cc, #b400fb);
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {transform: rotate(0deg); }
    
    100% {transform: rotate(360deg); }
    
}



.card1{
    display: block;
    width: 300px;
    margin: 15px;
    
    margin-left: 15px;
    padding-left: 50px;
}


.card-img-top{
    width: 150px;
    height: 200px;
}
    
.card-text{
    text-align: center;
    font-size: 10px;
}
    
.btn btn-outline-success{
    align-items: center;
}

.carousel-inner-{
    display: flex;
    width: 160px;
    margin: 25px;
   
}

/* carro de compras /////*/

.carro{
    display: grid;
    grid-template-columns: 30% 30% 30%;

 }

 .productocarro{
    display: inline-flex;
    width: 1000px;
 }

 .description{
    height: 25px;
    overflow: hidden;
    transition: height .3s ease-in .3s;
  }
  .description:hover{
    height: 80px;
  }
  .carrito{
    min-height: 80vh;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
  }
  .table__productos{
    display: flex;
  }
  .table__productos > img{
    width: 9rem;
    object-fit: contain;
    border-radius: 6px;
    margin-right: 20px;
  }
  .table__cantidad > input{
    width: 40px;
    border: none;
    outline: 0;
    font-size: 16px;
    font-weight: 700;
    margin-right: 30px;
    margin-bottom: 20px;
  }
  .hide, .remove{
    display: none;
  }